<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjy.dao.FileCreationMapper" >
  <resultMap id="BaseResultMap" type="com.hjy.entity.FileCreation" >
    <constructor >
      <idArg column="user_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="file_hash" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="gmt_create" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="download_count" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="collect_count" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="like_count" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>

  <sql id="Base_Column_List" >
    user_id, file_hash, gmt_create,download_count,collect_count,like_count
  </sql>

  <select id="getList" resultType="com.hjy.entity.FileCreation">
    SELECT <include refid="Base_Column_List" />
    FROM tb_user_create_file
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    DELETE FROM tb_user_create_file
    WHERE  user_id=#{userId,jdbcType=BIGINT}
  </delete>

  <delete id="deleteSomeFileInfo">
    DELETE  FROM  tb_user_create_file
    WHERE  user_id=#{userId,jdbcType=BIGINT}
    AND  file_hash IN
    <foreach collection="fileHashs" item="item" index="index" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>

  <!-- 用户创建文件需要写入表的参数  -->
  <insert id="insert">
    INSERT INTO tb_user_create_file(user_id,file_hash,gmt_create)
    VALUES (#{userId,jdbcType=BIGINT},#{fileHash,jdbcType=VARCHAR},
    #{gmtCreate,jdbcType=TIMESTAMP})
  </insert>

<select id="getListByUserId" resultType="com.hjy.entity.FileCreation">
  SELECT  <include refid="Base_Column_List" />
  FROM  tb_user_create_file
  WHERE  user_id=#{userId,jdbcType=BIGINT}
</select>


  <update id="updateDownloadCount">
    UPDATE tb_user_create_file
    SET  download_count=download_count + 1 WHERE
    file_hash=#{fileHash,jdbcType=VARCHAR}
  </update>


  <update id="updateCollectCount">
    UPDATE tb_user_create_file
    SET  collect_count=tb_user_create_file.collect_count + 1 WHERE
    file_hash=#{fileHash,jdbcType=VARCHAR}
  </update>

  <update id="updateLikeCount">
    UPDATE tb_user_create_file
    SET  like_count=tb_user_create_file.like_count + 1 WHERE
    file_hash=#{fileHash,jdbcType=VARCHAR}
  </update>

</mapper>